@model Hotel
<div class="card-body">
    <h4 class="card-title">Basic form elements</h4>
    <p class="card-description">
        Basic form elements
    </p>
    <form class="forms-sample" enctype="multipart/form-data">

        <div class="form-group">
            <label>File</label>
            <input asp-for="Photo" type="file" class="form-control">
            <span class="text-danger" asp-validation-for="Photo"></span>

        </div>

        <div class="form-group">
            <label for="exampleInputName1" asp-for="Name">  Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="IsDomestic"></label>
            <input asp-for="IsDomestic">
            <span class="text-danger" asp-validation-for="IsDomestic"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputName1" asp-for="Country"></label>
            <input asp-for="Country" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Country"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputName1" asp-for="City"></label>
            <input asp-for="City" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="City"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputName1" asp-for="Adress"></label>
            <input asp-for="Adress" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Adress"></span>
        </div>

        <div class="form-group">
            <label asp-for="HotelCategories">Categories</label>
            <select class="form-control" name="brandId">
            </select>
            <span class="text-danger" asp-validation-for="HotelCategories"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="RoomAvailable">Room Available</label>
            <input asp-for="RoomAvailable">
            <span class="text-danger" asp-validation-for="RoomAvailable"></span>
        </div>

        <div class="form-group">
            <label asp-for="Star" for="exampleInputName1"></label>
            <select class="custom-select">
                <option value="" disabled selected>Select a Star</option>
                <option value="1">★</option>
                <option value="2">★★</option>
                <option value="3">★★★</option>
                <option value="4">★★★★</option>
                <option value="5">★★★★★</option>
            </select>
            <span class="text-danger" asp-validation-for="Star"></span>
        </div>

        <div class="form-group">
            <label asp-for="Rating" for="exampleInputName1"></label>
            <input asp-for="Rating" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Rating"></span>
        </div>

        <div class="form-group">
            <label asp-for="CheckInTime" for="checkinTime">Check-in Time:</label>
            <input asp-for="CheckInTime" type="time" class="form-control" required>
            <span class="text-danger" asp-validation-for="CheckInTime"></span>
        </div>

        <div class="form-group">
            <label asp-for="CheckOutTime" for="checkinTime">Check-out Time:</label>
            <input asp-for="CheckOutTime" type="time" class="form-control" required>
            <span class="text-danger" asp-validation-for="CheckOutTime"></span>

        </div>

        <div class="form-group">
            <label for="exampleInputName1" asp-for="Info"></label>
            <textarea asp-for="Info" type="text" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Info"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputName1" asp-for="Email"></label>
            <input asp-for="Email" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Email"></span>

        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber">Telephone</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">+994</span>
                </div>
                <input asp-for="PhoneNumber" type="tel" class="form-control">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>

            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputName1" asp-for="WebSite"></label>
            <input asp-for="WebSite" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="WebSite"></span>
        </div>

        <div class="mb-3">
            <label for="exampleInputName1" asp-for="Price"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control" name="currency">
                        <option value="USD">&#36; USD</option>
                        <option value="EUR">&#128; EURO</option>
                        <option value="AZN">&#8380; AZN</option>
                    </select>
                </div>
                <input asp-for="Price" type="text" class="form-control">
                <span class="text-danger" asp-validation-for="Price"></span>
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="index" class="btn btn-secondary text-white">Go Back</a>
    </form>
</div>