@model SeatClass
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Seat Class Create</h5>
        </div>
        <div class="card-body">

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Info"></label>
                    <textarea asp-for="Info" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Info"></span>
                </div>

                <a asp-action="index" class="btn btn-dark mr-2">Go Back</a>
                <button type="submit" class="btn btn-primary mr-2">Send</button>
            </form>
        </div>
    </div>

</div>